[Unit]
Description=Run Funkcionario pipeline on publication windows

[Timer]
OnCalendar=Mon *-*-* 14..18:00:00
OnCalendar=Tue *-*-* 12..18:00:00
OnCalendar=Wed *-*-* 14..18:00:00
OnCalendar=Thu *-*-* 12..18:00:00
OnCalendar=Fri *-*-* 12..18:00:00
Unit=funkcionario-pipeline.service
Persistent=true

[Install]
WantedBy=timers.target
